{% extends "base.html.twig" %}

  {% block title %}
    Bienvueue sur le meilleur réseau d'appartements
  {% endblock %}

  {% block body %}
  <div class="container mt-3">
      <div class="jumbotron">
      <h1 class="display-3">Bienvenue sur AirBnb Clone !</h1>
      <p class="lead">
        Nous mettons en relation les voyageurs et les propriétaires quiveulent profiter et gagner de l'argent supplémentaire
        en proposant leurs bien à la location ..
      </p>
      <hr class="my-4">
      <p>
        Vous étes voyageurs ? Et vous voulez voir ou vous pourrez loger pour votre prochain déplacement ?
        Alors vite chercher ..
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg mt-4" href="{{ path('ads_index') }}" role="button">Voir nos annonces</a>
        {% if app.user %}
          <a class="btn btn-primary btn-lg ml-3 mt-4" href="{{ path('ads_create') }}" role="button">Créer une nouvelle annonce</a>
        {% endif %}
      </p>
    </div>

    <h2 class="my-5">Nos appartements stars</h2>

    <div class="row">
      {% for data in ads %}
        {% include 'ad/_ad.html.twig' with {'ad': data.ad} %}
      {% endfor %}  
    </div>

    <h2 class="my-5">Nos propriétaires stars</h2>

  <div class="row">
    {% for data in users %}
    <div class="col">
      <div class="card border-secondary mb-3">
        <div class="card-body">
          <h4 class="card-title">{{ data.user.firstName }}</h4>
          <hr>
          <div class="card-text">
            <img src="{{ data.user.picture }}" alt="avatar de {{ data.user.firstName }}" class="float-left mr-3" style="height:64px; width:64px; display:block;">
            <p>
              {{ data.user.introduction | u.truncate(50, true)  }}
            </p>
            <a href="{{ path('user_show', {'slug': data.user.slug}) }}" class="btn btn-outline-success float-right">En savoir plus</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  </div>

  {% endblock %}
