{% set url = path('ads_show', {'slug': ad.slug}) %}

<div class="col-md-4 mb-3">
    <div class="card bg-light mb-3">
        <div class="card-header text-center">
            {{ ad.rooms }} chambres, <strong>{{ ad.price | number_format(2, ',', ' ')}}&euro; / nuit</strong> <br>
            <small>
                {% if ad.comments | length > 0 %}
                    {% include 'partials/rating.html.twig' with {'rating' : ad.avgRatings} %}
                {% else %}
                    Pas encore noté
                {% endif %}
            </small>
        </div>
        <a href="{{ url }}">
            <img src="{{ ad.coverImage }}" alt="image de l'appartement" style="height:200px; width:100%; display:block;">
        </a>
        <div class="card-body text-center">
            <h4 class="card-title">
                {{ ad.title | u.truncate(30, true) }}
            </h4>
            <span class="card-text">
                {{ ad.introduction | u.truncate(100, true)}} <br> 
                <i class="fa fa-arrow-circle-down text-primary"></i>
            </span> <br>
            <a href="{{ url }}" class="btn btn-outline-primary">En savoir plus</a>
            {% if app.user is same as (ad.author) %}
                <a href="{{ path('ads_edit', {'slug' : ad.slug}) }}" class="btn btn-secondary ml-3">Modifier l'annonce</a>
            {% endif %}
        </div>
    </div>
</div>